body {
    background-color: lightblue;
}

header {
    font-size: 2vw;
    text-align: center;
    background-color: rgb(117, 221, 255);
    padding: 1em;
    margin: 0.5em;

    font-weight: bold;
}

#container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
    font-size: 2em;
}

#upgrades {
    grid-column: 1 / 2; 
    height: 100%;
    padding: 1em;
}

#main {
    grid-column: 2 / 3; 
}

#items {
    grid-column: 3 / 4;
    height: 100%;
}
