body {
    background-color: lightblue;
}

header {
    font-size: 2vw;
    text-align: center;
    background-color: rgb(117, 221, 255);
    padding: 1em;
    margin: 0.5em;

    font-weight: bold;
}

#instructionsPosition {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    transition: all 1.5s ease-in;
    overflow: auto;
    z-index: 3;
}

.instructions {
    width: 550px;
    margin: 50px auto;
    text-align: center;
    transition: all 1.5s ease-in;
}

.instructionsContent {
    background-color: #FFF;
    padding: 10px;
    transition: all 1.5s ease-in;
    height: calc(100vh - 100px);
    overflow: auto;
}

.toggle {
    padding: 1em;
    background-color: #a9a9ff;
    font-size: 1em;
    text-align: center;
}

#openInstructions:hover {
    background-color: #ceceff;
    transition-property: all;
    transition: all 0.5s ease-in;
}

#encouragement {
    text-align: center;
    font-size: 2.5vw;
}

canvas {
    width: 100%;
    height: fit-content;
}

#closeInstructions {
    text-align: left;
}

#container {
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    font-size: 2em;
    margin: 1em;
    height: 15em;
}


#wordtable {
    margin-left: auto;
    margin-right: auto;
}

#upgrades {
    grid-column: 1 / 2;
    height: 100%;
    background-color: white;
    border-right: solid 2px black;
    padding: 5px;
}

.upgrade {
    border: solid 2px black;
    border-radius: 2em;
    background-color: #bef7ff;
    font-size: 0.75em;
    cursor: pointer;
    user-select: none;
}

#cpsImage {
    position: relative;
    top:13px;
    margin: 0;
}

.cent {
    width: 40px;
    height: 40px;
}

#main {
    grid-column: 2 / 2;
    background-color: white;
    padding: 5px;
    height: 100%;
}

#score {
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-align: left;
}

#cent {
    margin-right: 5px;
}

#wordtable {
    width: 75%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 30px;
    margin: auto;
    text-align: center;
    font-size: 60px;
}

#wordtable td {
    width: 33%;
    text-align: center;
    vertical-align: middle;
}

#curLetter{
    font-size: 50px;
}

tr {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#toprow {
    margin: 0;
    padding-top: 0px;
}

#bottomrow {
    padding-bottom: 0px;
}

.match {
    color: green;
}

.inactive {
    visibility: hidden;
}